<header>
      <!-- Change this to your Store's info -->
      <h1 id="pageTitle">GamesForGeeks</h1>
      <p>
        Tired of reading long articles on GeeksForGeeks? Try exploring our online store
        &lsquo;GamesForGeeks&rsquo; where we sell all kinds of Video Games, Consoles, and Accessories
        that a real Geek could ever desire at the best prices!
      </p>
      <nav id="menu">
      <!-- Dynamically create your menu category buttons here -->
      <!-- <button id="hidden">Show Hidden Data</button> -->
      </nav>
</header>

<hr />